{% extends "index.html" %}
{% block content %}
<p>
    <form action = "" method = "POST">
        Title: <input type = "text" id = "title" name = "title"><br>
        Author first name: <input type = "text" id = "authorName" name = "authorName"><br>
        Author last name: <input type = "text" id = "authorSurname" name = "authorSurname"><br>
        Second author first name: <input type = "text" id = "authorName2" name = "authorName2"><br>
        Second author last name: <input type = "text" id = "authorSurname2" name = "authorSurname2"><br>
            <input type = "submit" value = "add">
    </form>
</p>
{% endblock %}